@model List<GetTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ana Sayfa Referanslar Listesi</h4>
                <p class="card-subtitle mb-4">
                   Müşterilerimizin bizim hakkımızda söylemiş oldukları ifadeleri yorum olarak ekleyip, düzenleyebildiğimiz sayfamız aşağıda yer almaktadır.
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Başlık</th>
                                <th>Yorum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Bloğu Aç</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td><img src="@item.ImageUrl" style="width:50px;height:50px; margin-right:10px;" />@item.Name</td>
                                        <td>@item.Title</td>
                                        <td>@item.Comment</td>
                                        <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.TestimonialID/" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.TestimonialID/" class="btn btn-outline-warning">Düzenle</a></td>
                                        <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.TestimonialID/" class="btn btn-outline-dark">Bloğu Aç</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if (Model.Count <= 0)
                    {
                        <h4 class="my-3">Herhangi bir referans bulunamadı.</h4>
                    }
                    <a href="/Admin/AdminTestimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Referans Girişi</a>
                </div>
            </div>
        </div>
    </div>
</div>